body {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: Raleway;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

a {
  font-family: Raleway;
  color: #f15B31;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

h3 {
  font-family: Raleway;
  color: #0D2C40;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;

}

p {
  text-transform: capitalize;
  font-family: "Broid Serif";
  line-height: 26px;
  font-size: 18px;
}

header {
  background-color: #F15B31;
  color: #FFFFFF;
  padding: 30px 20px;
}

nav {
  background-color: #00A6B3;
  padding: 20px 0px;
}

a {
  margin: 0px 20px;
  color: #FFFFFF;
  border-bottom: 2px solid transparent;
}

main {
  width: 850px;
  margin: 35px auto;
}

img {
  margin: 40px 8px 0px 8px;
}

.copyright {
  font-family: Raleway;
  float: left;
}

.message {
  font-family: Raleway;
  float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
  color: #F15B31;
  font-weight: 700;
}

a:hover {
  border-color: white;
}

footer {
  text-transform: uppercase;
  padding: 0px 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.button {
    background-color: #F15B31; /* Green */
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 600;
}


